<div class="card">
  <div class="card-header bg-primary text-light">

  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Preço</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

    <a href="#" class="btn btn-primary">Novo produto</a>
  </div>
</div>
